body {
	background-color: black;
}

p{
	color: red;
	text-align: center;
	padding: 250px;
	font-size: 50px;
}

.random-move {
	background-color: #ff0000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(30%, -50%);
	font-size: 25px;
}


